# WordPress Database
WP_MYSQL_USER="wp_mysql_user"
WP_MYSQL_PASS="wp_mysql_pass"
WP_MYSQL_HOST="wp_my_sql_host"
WP_MYSQL_PORT="3306"
WP_MYSQL_DB_NAME="wordpress"

# PostgreSQL Database
PG_USER="pg_username"
PG_PASSWORD="pg_pass"
PG_HOST="pg_host_ip"
PG_DB_NAME="pg_db_name"
