httpx>=0.24.0
aioconsole>=0.6.1
PyJWT>=2.6.0
Jinja2>=3.1.2
aiohttp-jinja2>=1.5.1
aiohttp>=3.8.4
python-socketio>=5.8.0
gunicorn>=20.1.0
python-dotenv>=0.0.5
SQLAlchemy>=2.0.10
cloud-sql-python-connector>=1.2.2
sqlmodel>=0.0.8
fastapi>=0.95.1

# httpx aioconsole PyJWT Jinja2 aiohttp-jinja2 aiohttp python-socketio gunicorn python-dotenv SQLAlchemy cloud-sql-python-connector sqlmodel fastapi